<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wrong Credential</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    h1{
        color: blue;
        text-align: center;
    }
    .mybutton{
        margin-left: 47%;
        color: white;
        background-color: blue;
        padding: 20px;
        border: 0px;
        cursor: pointer;
    }
    button:hover {
        opacity:0.8;
    }

</style>
</head>
<body style="background-color: rgb(220, 220, 220)">
<br><br><br>
<a href="{{ url_for('index') }}"><i class="fa fa-home" style="font-size:48px;color:blue; margin-left: 20%"></i></a>
<br><br><br>
<h1>Wrong email address or password!</h1>
  <h1>Try again</h1>
  <br>
  <a href="{{ url_for('signin') }}"><button type="button" class="mybutton">Sign In</button></a>
</body>
</html>